/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.title{
  color: #000000;
}

.active{
  font-weight: bold;
}

.header{
  background-color: #009bc6;
  height: 40px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer{
  background-color: #009bc6;
  color: white;
  height: 30px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h3 {
color: black;
padding: 0.5em 0;
border-top: solid 3px #ff006f;
border-bottom: solid 3px #ff006f;
}

.logout{
  font-size: 20px;
}

.tweet-box{
  display: flex;
}

.tweet-box-bottom{
  margin-left: 30px;
}

.button {
  width: 100px;
  height: 40px;
}

.tweet {
  resize: none;
  width: 300px;
  height: 35px;
}